<dx-data-grid
  *ngIf="orders && orders.length > 0"
  id="gridContainer"
  [dataSource]="orders"
  keyExpr="productId"
  [showBorders]="true"
>
  <dxo-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
  ></dxo-filter-row>
  <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
  ></dxo-search-panel>
  <dxi-column dataField="productId"></dxi-column>
  <dxi-column dataField="name"></dxi-column>
  <dxi-column dataField="productGroup"></dxi-column>
  <dxi-column dataField="supGroup"></dxi-column>
  <dxi-column dataField="status"></dxi-column>
  <dxi-column dataField="qty"></dxi-column>
  <dxi-column cellTemplate="cellTemplate" type="buttons" caption="Button">
  </dxi-column>

  <div *dxTemplate="let data of 'cellTemplate'">
    <button (click)="okClicked($event)">test</button>
  </div>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Apply Filter</span>
    <dx-select-box
      id="useFilterApplyButton"
      [inputAttr]="{ 'aria-label': 'Filter' }"
      [items]="applyFilterTypes"
      [(value)]="currentFilter"
      valueExpr="key"
      displayExpr="name"
      [disabled]="!showFilterRow"
    ></dx-select-box>
  </div>
  <div class="option">
    <dx-check-box
      text="Filter Row"
      [(value)]="showFilterRow"
      (onValueChanged)="clearFilter()"
    ></dx-check-box>
  </div>
  <div class="option">
    <dx-check-box
      text="Header Filter"
      [(value)]="showHeaderFilter"
      (onValueChanged)="clearFilter()"
    ></dx-check-box>
  </div>
</div>
